<!DOCTYPE html>
<html style="overflow-y: auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="https://i.pinimg.com/originals/78/54/98/7854987ef1ff9f2509fb75d9180a3c8b.jpg">
    <title>Đức Huy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
            rel="stylesheet"
            href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/bubbler.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css">
</head>
<body>
    <div class="container.is-fullhd" style="display: flex; min-height: 100vh; flex-direction: column; ">
        {{{body}}}
        <footer class="footer has-text-centered p-0 has-background-black">
            <p class="is-italic pb-2" style="font-family: 'Times New Roman'">© Design by <a href="https://www.facebook.com/huy4421/" target="_blank" title="Facebook">Duc Huy</a></p>
        </footer>
    </div>

    <script type="text/javascript" src="/js/bubbler.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>

</body>
</html>