<div style="flex: 1;" class="has-background-black">
    <div class="hero is-medium p-4" style="flex: 1">
        <div class="columns hero-body">

            <div class="column is-4">
                <div >
                    <div class="card p-2">
                        <div class="card-image">
                            <figure class="image is-4by3" >
                                <img src="/img/ava.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                    </div>
                </div>


                <div class="has-text-white has-text-centered pt-2">
                    <span>
                        <a href="https://www.facebook.com/huy4421/" style="color:#4267B2;">
                            <span class="icon is-large element"><i class="fab fa-facebook fa-2x"></i></span>
                        </a>
                        <a href="https://github.com/duchuy040421">
                            <span class="icon is-large has-text-danger element"><i class="fab fa-github fa-2x"></i></span>
                        </a>
                        <a href="https://www.linkedin.com/in/duc-huy-9656a21a8/">
                            <span class="icon is-large has-text-info element"><i class="fab fa-linkedin fa-2x"></i></span>
                        </a>
                    </span>


                </div>
            </div>

            <div class="column is-7 p-3">
                <div style="border-left: 2px solid white" class="has-text-white p-2">
                    <h4 class="title is-1 has-text-white">NGUYEN DUC HUY</h4>
                    <p>
                        Hello, My name is Nguyen Duc Huy. I grew up and lived in Ho Chi Minh City since 2001.
                        My passion is making useful application in order to help many people who stuck in work.
                        Here is my web blog page that is in processing. Hope you guys can chill and learn with me throught out my page.
                    </p>
                </div>
                
                <div class="has-text-white pt-2">
                    <q class="is-italic">Instead of saying I don't know, I'm going to conquer it</q>
                    <a href="http://ncase.me/door/#Ehsdbuldhgxntrdduihr"
                       target="_blank"><i class=" fa fa-heart has-text-danger fa-2x element" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>

</div>